/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap");
/* ==== ROOT RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ==== CSS VARIABLES ==== */
:root {
--primary-color: #04604e;
--btn-color: #ff3f3e;
--link-color: #009879;
--btn-hover-color: #ff7369;
--text-content: #334157;
--fixed-header-height: 5rem;
}

/* ==== RESET HTML ==== */
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* ==== CONTAINER ==== */
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
/* ==== HEADER ==== */
.header {
  height: var(--fixed-header-height);
  padding: 0 1.7rem;
}

/* ==== NAV ==== */
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ==== LOGO ==== */
.logo h2 {
  font-size: 30px;
  color: var(--btn-color);
  font-weight: bold;
}
/* ====  NAV-MENU  ==== */
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 24px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
  z-index: 4;
}
.close_btn, .toggle_btn  {
  display: none;
}
.show {
  right: 3% !important;
}

table{
  width: 80%;
  margin:  auto;
}


.users-table {
  border-collapse: collapse;
  margin: 25px 10%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  font-size: 1rem;
}

.first-tr {
  background-color: var(--link-color);
  color: #ffffff;
  font-weight: bold;
}

 .users-table th,
.users-table td {
  padding: 12px 15px;
}

.users-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.users-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.users-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--link-color);
}

.users-table tbody tr.active-row {
  font-weight: bold;
  color: var(--link-color);
}

.meal-image{
  width : 250px;
  height: 200px;
}

.delete-button{
  color: white;
  font-size: 1rem;
  background-color: var(--btn-color);
  width: 100px;
  height: 40px;
  border-radius: 5px;
}
.delete-button:hover{
  background-color: var(--btn-hover-color);
  transition: 1s;
}

@media screen and (max-width: 840px) {
  .logo h2 {
    font-size: 23px;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn , .toggle_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: var(--primary-color);
  }
  .close_btn:hover {
    color: var(--btn-hover-color);
  }
  .go-down2, .go-down{
    display: none;
  }
  #add-meal-form, #add-chef-form, #add-resturant-form{
   background-color: transparent;
    /* width: 300px; */
  }
}
.body{
  /* width: 100%; */
}
#add-meal-form, #add-chef-form, #add-resturant-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  margin: 2rem 11rem;
  padding: 30px 40px;
  /* width: 100%; */
}
.title{
  color: var(--primary-color);
  font-size: xx-large;
  font-weight: bolder;
}
.requirment{
  display: flex;
  flex-direction: column;
  width: 100%;

}
label{
  color: var(--link-color);
  font-size: larger;
  font-weight: 600;
}

form button{
  background-color: var(--btn-color);
  color: #fff;
  font-size: larger;
  font-weight: 600;
  border-radius: 5px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  margin-top: 1rem;
  padding: 10px 80px;
  width:70vh;

}
form button:hover{
  background-color: #ff7369;
}

form input{
  width:70vh;
  height: 30px;
  padding: 10px;
  color: var(--primary-color);
  font-size: larger;
  font-weight: 600;
}
hr{
  margin-bottom: 2rem;
}
.go-down{
  color: var(--primary-color);
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}
.go-down2{
  color: var(--primary-color);
  position: absolute;
  top: 135%;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
}

.go-down:hover, .go-down2:hover {
  color: var(--link-color);
}

.go-down i, .go-down2 i {
  animation: bouncing 1.5s infinite;
}
@keyframes up-and-down {

  0%,
  100% {
    top: 0;
  }

  50% {
    top: -10px;
  }
}

@keyframes bouncing {

  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }

  40%,
  60% {
    transform: translateY(-15px);
  }
}